*{
    margin: 0;
    padding: 0;
}
.header{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(./assets/images/cover-image.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 106px;
}
nav a{
    color: white;
    text-decoration: none;
}
.nav-links{
    color: white;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 22px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transform: 0.4s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.text-box{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.text-box h1{
    font-size: 50px;
    font-weight: 600;
}